<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDI97kinKiWH7qcNyMyqGHFMUn9fxSIUJw</string>
	<key>GCM_SENDER_ID</key>
	<string>631107830462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DesafioHCtecn</string>
	<key>PROJECT_ID</key>
	<string>smart-luggage-78dbe</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-luggage-78dbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631107830462:ios:e8a7de4e9794d612d354ef</string>
</dict>
</plist>